body{
    background-color: red;
    color: yellow;
    font-family: cursive;
}

header{
    display: flex;
}

nav{
    border: 10px  dashed black;
}

ul{
    background-color: Blue;
    color: red;
}

main{
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column-reverse;
}

article{
    width: 75%;
    background-color: orange;
    // float: left;
}

aside{
    width: 25%;
    background-color: purple;
    // float right;
}

section{
    width: 100%;
    background-color: green;
}