// body {
//     background-color: pink;
// }

// h1 {
//     color: red;
//     text-align: center;
// }

section {
    background-color: Purple;
    margin: 50px;
    padding: 10px;
    color: yellow;
}