html {
    color: yellow;
    font-family: sans-serif;
}

.home {
    background-image: url("../img/mansion img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        text-transform: capitalize;
    }
    p {
        font-size: 24px;
        margin: 100px;
    }
    div {
        margin: 100px;
        button {
            background-color: gray;
            border-style: block;
            padding: 15px 30px;
            display: inline-block;
        }
        button:hover {
            background-color: white;
        }
    }
}

.bio {
    position: absolute;
    left: 250px;
}

.play {
    position: absolute;
    right: 250px;
}