html {
    color: yellow;
    font-family: sans-serif;
}

#home {
    background-image: url("../img/mansion img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        text-transform: capitalize;
    }
    p {
        font-size: 24px;
        margin: 100px;
    }
    div {
        margin: 100px;
        a:hover {
            background-color: white;
        }
    }
    .bio {
        position: absolute;
        left: 250px;
        text-decoration: none;
        color: black;
        background-color: gray;
        border-style: block;
        padding: 15px 30px;
        display: inline-block;
    }
    .play {
        position: absolute;
        right: 250px;
        text-decoration: none;
        color: black;
        background-color: gray;
        border-style: block;
        padding: 15px 30px;
        display: inline-block;
    }
}

#characterprofile {
    background-image: url("../img/livingroom img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    h2 {
        font-weight: bolder;
    }
    .profiles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 500px;
        margin: 25px;
    }
}